
MISTRAL_API_KEY=your_mistral_api_key
MISTRAL_MODEL=mistral-small-latest
MISTRAL_EMBED_MODEL=mistral-embed
CHROMA_DIR=chroma_db_mistral
DATA_DIR=data

JIRA_BASE_URL="JIRA_URL"  # your Jira instance URL
JIRA_EMAIL="example@gmail.com"
JIRA_API_TOKEN=your_api_token